---
---

$OFFWHITE: #fafafa;
$MOBILE: '(max-width: 600px)';

body {
    background: $OFFWHITE;
    font-size: 18px;
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 40px;
    margin-bottom: 50px;
}

header {
    background: #333;
    color: $OFFWHITE;
    padding: 20px;
    margin-bottom: 20px;
    
    a.flex {
        color: $OFFWHITE;
        
        
        display: flex;
        @media #{$MOBILE} {
            text-align: center;
            display: block;
        }
        
        &:hover, &:focus,&:active {
            text-decoration: none;
        }
    }
    
    .avatar {
        margin-right: 25px;
        
        @media #{$MOBILE} {
            margin-right: 0px;
            margin-bottom: 15px;
        }
        
        img {
            height: 100px;
            border-radius: 50%;
            border: 3px solid $OFFWHITE;
        }
    }
    
    .text {
        align-self: center;
    }
    
    h1, h2 {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 6px;
    }
    h2 {
        font-size: 20px;
    }
}

section {
    .breadcrumb {
        background: transparent;
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        
        @media #{$MOBILE} {
            li {
                display: block;
                &:before {
                    padding: 0px;
                    content: '';
                }
            }
        }
    }
    .date {
        font-size: 15px;
        color: #777;
        
        @media #{$MOBILE} {
            text-align: center;
            margin-top: 20px;
        }
    }
    
    .content {
        h1, h2 {
            font-weight: 700;
        }
        h1 {
            margin-bottom: 35px;
            margin-top: 25px;
        }
        h2 {
            margin-top: 50px;
            font-size: 26px;
        }
        p {
            margin: 25px 0px;
            text-align: justify;
            
            @media #{$MOBILE} {
                text-align: left;
            }
        }
        ul {
            margin: 25px 0px;
        }
    }
}

/* Overrides */

pre {
    white-space: pre-wrap;
}

img {
    max-width: 100%;
}
